{% extends "layouts/base-auth.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}


    <!-- Right Side - Reset Password Form -->
    <div class="flex-1 flex items-center justify-center p-8">
        <div class="w-full max-w-md space-y-8 animate-slide-in" style="animation-delay: 0.2s">
            <!-- Logo -->
            <div class="text-center">
                <div class="flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-emerald-600" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
                <h2 class="mt-6 text-3xl font-bold text-gray-900">Un Email vous à été envoyé vérifiez s'il vous plaît.</h2>
            </div>



            <!-- Link to login -->
            <p class="text-sm text-center text-gray-500 dark:text-gray-400">
                <a href="{% url 'login' %}" class="text-primary-600 hover:underline dark:text-primary-400">Retour à la connexion</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
